
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: rgb(119, 53, 117);
}

*{
    margin:0;
    padding:0;

}

nav{
   font-family: 'Lobster', sans-serif;
  
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 85px;
    background-color: black;
    color: white;
}
.brand img{
    width: 65px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}

nav ul li{
    padding: 0 12px;
}

.bottom{
    position: sticky;
    height:100px;
    background-color: black;
    bottom:0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container{
    min-height: 72vh;
    background-color: black;
    color: aliceblue;
    font-family:'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg4.jpeg');
}

#myprogress{
    width:80vh;
   cursor: pointer;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

.songitem{
   height: 50px; 
   display: flex;
   background-color: white;
   width: 80%;
   color: black;
   margin: 12px 0 ;
   justify-content: space-between;
   align-items: center;
   border-radius: 34px ;
}

.songitem img{
    width:43px;
    margin: 0 23px ;
    border-radius: 50%;
}

.timestamp{
    margin:0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
   position: absolute;
    left:10vw;
    font-family:'Varela Round',sans-serif;
}